body {
  min-height: 100vh;
}

.background-image-normal {
  background-image: url("./assets/website-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
